@model BeluqaUser
@{
    ViewData["Title"] = "RessetPassword";
    Layout = null;
}


<div class="row">
    <div class="col-12">
   
    </div>
    <div class="d-flex justify-content-end aligen-items-center">

        <form method="post"  asp-action="RessetPassword">

            <input class="btn btn-danger" type="text" asp-for="Email" />
            <input  class="btn btn-danger" type="text" asp-for="NewPassword" />
            <input type="hidden" asp-for="Id" />
            <button type="submit">Send me</button>
        </form>

        <a asp-action="index" class="btn btn-dark ml-3">Go Back</a>
    </div>
</div>